/*Variables*/
:root {
    /*Colors*/
    --color-bg: #111121;
    --color-nav: #0A0A1B;
    --color-nav-tr: rgb(10, 10, 27, 0.8);
    --color-primary: #00FFD1;
    --color-white: #fff;
    --color-blue: #103FE7;
    --color-green: #11201D;
    --color-article: #141338;

    /*Font sizes*/
    --fs-h1: 3.815rem;
    --fs-h2: 3.05rem;
    --fs-h3: 2.44rem;
    --fs-h4: 1.95rem;
    --fs-h5: 1.56rem;
    --fs-h6: 1.25rem;
    --fs-p: 1rem;
    --fs-sm: 0.8rem;
}

/*Clearing styles*/
*{
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--color-bg);
    font-size: 16px; /*Base rem*/
}

html, body{
    margin: 0;
    height: 100%;
}

h1{
    font-size: var(--fs-h1);
    font-family: 'ProtoMono';
    color: var(--color-primary);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

h4{
    font-size: var(--fs-h4);
    font-family: 'ProtoMono';
    color: var(--color-primary);
}

h5{
    font-size: var(--fs-h5);
}

h6{
    font-size: var(--fs-h6);
}

p{
    font-size: var(--fs-p);
}

small{
    font-size: var(--fs-sm);
}

/*Fonts*/
@font-face {
    font-family: 'ProtoMono';
    src: url('/fonts/ProtoMono-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono-Bold.ttf');
    font-weight: bold;
}

.scnd-container{
    margin-top: 50px;
}

#container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

nav{
    top: 0;
    position: fixed;
    width: 100%;
    background-color: var(--color-nav);
    font-family: 'IBMPlexMono', sans-serif;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    color: var(--color-white);
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: var(--color-green);
}

nav a:active{
    color: var(--color-primary);
}

nav li:first-child{
    margin-right: auto;
    a {
        color: var(--color-primary);
    }
    a:hover{
        background-color: transparent;
    }
    
}

.nv-content{
    /*padding: 0 122px;*/
}

#dt-logo{
    font-family: 'ProtoMono', 'IBMPlexMono', sans-serif;
    color: var(--color-primary);
    font-size: var(--fs-h3);
}

.acc-icon{
    max-width: var(--fs-h4);
    height: auto;
}

/*Content container*/
main{
    flex: 1;
    overflow: auto;
    background-color: var(--color-bg);
}

.content{
    /*border: 1px solid yellow;*/
    margin: 0 122px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blocks{
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 22px;
    margin-bottom: 5rem;
}

.articles{
    /*border: 1px solid #103FE7;*/
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-height: 700px;
    min-width: 500px;
    width: 70%;
    text-align: justify;
    overflow-x: hidden;
    overflow-y: scroll;
}

.article{
    background-color: var(--color-article);
    width: 100%;
    min-width: 500px;
    min-height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.article-img{
    width: 40%;
    height: 100;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.article-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'ProtoMono', sans-serif;
    color: var(--color-white);
    margin: 1.5rem;
    width: 60%;
    height: auto;
}

.article-desc{
    max-height: 3rem;
    overflow: scroll;
    font-family: 'IBMPlexMono', sans-serif;
    font-size: var(--fs-sm);
}

.article-title{
    font-size: var(--fs-h5);
}

.article-info{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--fs-p);
    .article-author{
        color: var(--color-primary);
    }
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: 1px solid blueviolet;
    width: 30%;
    min-width: 200px;
    gap: 1rem;
}

.sb-post{
    /*width: 100%;*/
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

.wiki-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.wiki-list{
    ul{
        padding: 0 10px;
        list-style-type: none;
        li{
            padding-bottom: 1rem;
            color: var(--color-primary);
            font-family: 'ProtoMono';
        }
    }
}

.sb-wiki{
    width: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    
}

/*Footer*/
footer{
    height: 50px;
    background-color: var(--color-nav);
}

/*Mobile navbar*/
.nv-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-nav-tr);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.nv-sidebar li{
    width: 100%;
}

.nv-sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

/*Hide on mobile devices*/
@media (max-width: 800px){
    h1{
        font-size: var(--fs-h5);
    }
    .article{
        min-width: 300px;
        width: 80%;
    }
    .articles{
        align-items: center;
        min-width: 300px;
        width: 100%;
    }
    .article-title{
        white-space: normal;
    }
    .article-info{
        flex-direction: column;
    }
    .content{
        justify-content: center;
        align-items: center;
        margin: 0;

        .info{
            margin-top: 2rem;
            width: 80%;
        }
    }

    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .nv-sidebar{
        width: 100%;
    }
}