/*Variables*/
:root {
    /*Colors*/
    --color-bg: #111121;
    --color-nav: #0A0A1B;
    --color-nav-tr: rgb(10, 10, 27, 0.8);
    --color-primary: #00FFD1;
    --color-white: #fff;
    --color-blue: #103FE7;
    --color-green: #11201D;
    --color-article: #141338;

    /*Font sizes*/
    --fs-h1: 3.815rem;
    --fs-h2: 3.05rem;
    --fs-h3: 2.44rem;
    --fs-h4: 1.95rem;
    --fs-h5: 1.56rem;
    --fs-h6: 1.25rem;
    --fs-p: 1rem;
    --fs-sm: 0.8rem;
}

/*Clearing styles*/
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px; /*Base rem*/
}

body{
    min-height: 100vh;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

h4{
    font-size: var(--fs-h4);
}

h5{
    font-size: var(--fs-h5);
}

h6{
    font-size: var(--fs-h6);
}

p{
    font-size: var(--fs-p);
}

small{
    font-size: var(--fs-sm);
}

/*Fonts*/
@font-face {
    font-family: 'ProtoMono';
    src: url('/fonts/ProtoMono-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono-Bold.ttf');
    font-weight: bold;
}

nav{
    background-color: var(--color-nav);
    font-family: 'IBMPlexMono', sans-serif;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    color: var(--color-white);
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover{
    background-color: var(--color-green);
}

nav a:active{
    color: var(--color-primary);
}

nav li:first-child{
    margin-right: auto;
}

/*Mobile navbar*/
.nv-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-nav-tr);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.nv-sidebar li{
    width: 100%;
}

.nv-sidebar a{
    width: 100%;
}